<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="afterLog" class="com.luoyingmm.log.AfterLog"/>
    <bean id="log" class="com.luoyingmm.log.Log"/>
    <bean id="userService" class="com.luoyingmm.service.UserServiceImpl"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.luoyingmm.service.UserServiceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

    <bean id="diy" class="com.luoyingmm.diy.DiyPointCut"/>
<!--    <aop:config>-->
<!--        <aop:aspect ref="diy">-->
<!--            <aop:pointcut id="point" expression="execution(* com.luoyingmm.service.UserServiceImpl.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <bean id="AnnotationPointCut" class="com.luoyingmm.diy.AnnotationPointCut"/>
    <aop:aspectj-autoproxy/>
</beans>